@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>
    Effective Date: December 5, 2024
</h4>

<h3>
    Welcome to CyberMall! Your privacy is important to us. This policy explains how we collect, use, and protect your information when you use our web app.
</h3>

 <hr />

<p>

    1. What Information We Collect: 

    Personal Info: Name, email, address, phone number, and payment details (for orders).
    App Activity: Pages you visit, items you view, and device details.
   
</p>

 <hr />

<p>
    2. How We Use Your Info:
   
    To process your orders and deliveries.
    Make your shopping experience better.
    Send updates, offers, and important notices.
    Keep the app secure and fix issues. 

</p>

<hr />

<p>

    3. We never sell your info. We may share it with:

    Service Providers: For payments, delivery, and app features.
    Legal Authorities: If required by law or to protect our rights.
    Business Transfers: If our business is sold or merged.

</p>

<hr />

<p>
    4. Keeping Your Info Safe:
    We protect your info with strong security measures, but no system is 100% secure. Let us know if you spot any issues.
</p>
   
    
<hr />

<p>
    5.Your Choices:
    Update Info: Edit your details in your account.
    Delete Account: Contact us to close your account.
</p>

<hr />
<p>
    6.Links to Other Sites:
    Our app might link to other websites. Check their privacy policies; we’re not responsible for their practices.
</p>

<hr />
<p>
    7.Kids’ Privacy:
    Our app isn’t for kids under 13, and we don’t collect their info knowingly.
</p>

<hr />
<p>
    8.Changes to This Policy:
    We may update this policy. Any changes will be posted here with a new date.
</p>

<hr />
  
<p>
    9.Contact Us:
    If you have questions, reach out to us:
    Email: cybermall@gmail.com
    Phone: 123-456-7891
</p>

   
