@model CartControllerCheckoutModel

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<p>Select a shipping address and payment method.</p>

<p>Select a shipping address or enter a new address:</p>
<select asp-for="Order.ShippingAddress" asp-items="Model.ShippingAddressList">
</select>

<p>Select a payment method:</p>

<select asp-for="Order.PaymentMethod" asp-items="Model.PaymentMethodList">
</select>


<!--  add  checkout form here -->